<div class="wrapper-landing">
	<div class="wrapper_header">
	<div class="flex-container">
		<div class="flex-item">
			<div class="wrapper_logo">
				<a href="javascript:void(0);"><span></span></a>
			</div>
		</div>
	</div>
	</div>
</div>

<div class="wrapper_banner">
	<img src="assets/rewards.jpeg" alt="">
	<div class="wrapper-resize-text">
	<div class="wrapper_vertical-position">
		<div class="banner_text">
			<h2 style="color: orangered">Let your personal data work and earn money for you!</h2>
			<p>Share your valuable information!!!</p>
			<a href="https://base-auth-frontend-staging.herokuapp.com/auth/signup/landing" target="_blank"><span>Join ChainRewards</span></a>
		</div>
		<div class="how_it_works">
			<a href="javascript:void(0);"><span></span></a>
		</div>
	</div>
	</div>
</div>

<div class="wrapper-landing">
	<div class="container">
		<div class="wrapper_work_two_column">
			<div class="flex-container">
		
			</div>
			
		</div>
	</div>
</div>